:root {
    --shadow_off: 6px;

}
body {
    background:linear-gradient(to bottom, #ffffff, rgb(150,100,100));
    background-size:cover;
}
#mnbox {
    position:absolute;
    top:10px;
    left:50%;
    transform:translate(-50%,0);
    width:75%;

}
#mnbox h1 {
    text-align:center;
}
#mnbox p {
    font-size: 30;
}
#mnbox button {
    width:45%;
    height:12rem;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:32;
    transition:color 0.3s, box-shadow 0.3s;
    box-shadow:var(--shadow_off) var(--shadow_off) darkblue;
}
#mnbox button:hover {
    background-color: #0056b3;
    box-shadow:0px 0px darkblue;
}
#flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
}

#flexbox button {
    width:45%;
    height:12rem;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:32;
    transition:color, 0.3s
}
#flexbox p {
    display:inline-block;
    padding:10;
    font-size:28
}
#flexbox button:hover {
    background-color: #0056b3
}
.admin {
    background-color: orangered !important;
    box-shadow: var(--shadow_off) var(--shadow_off) darkred !important;
}
.admin:hover {
    background-color: red !important;
    box-shadow: 0px 0px darkred !important;
}
.misc {
    background-color: limegreen !important;
    box-shadow: var(--shadow_off) var(--shadow_off) darkgreen !important;
}
.misc:hover {
    background-color: green !important;
    box-shadow: 0px 0px darkgreen !important;
}

