<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
        <title>Barnehager</title>
    </head>
    <body>
        <div id="mnbox">
            <h1>Barnehage Oppgave!</h1>
            <div id="flexbox">
                <button onclick='location.href="/soknad"'>Til Søknad</button>
                <button onclick='location.href="/soknader"'>Søknader</button>
                <button onclick='location.href="/adm_all_data"' class="admin">All Data</button>
                <button onclick='location.href="/barnehager"' class="misc">Barnehager</button>

                <button onclick='location.href="/commit"' class="admin">Admin Commit</button>
                <button onclick='location.href="/oppgave"' class="misc">Oppgave tekst</button>
            </div>
        </div>
    </body>
</html>