<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
        <title>Barnehager</title>
    </head>
    <body>
        <div id="mnbox">
            <h1>Barnehage Oppgave!</h1>
            <div id="flexbox">
                <button onclick='location.href="/potato"'>Potato</button>
                <button onclick='location.href="https://j6kub.github.io/sites/xpo.html"'>TableCsv</button>
                <button onclick='location.href="/oppgave"'>Oppgave tekst</button>
                <button onclick='location.href="/commit"'>Admin Commit</button>
                <button onclick='location.href="/soknad"'>Til Søknad</button>
                <button onclick='location.href="/adm_all_data"'>All Data</button>
            </div>
        </div>
    </body>
</html>