<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
    </head>
    <body>
        <div id="mnbox">
            <h1>Barnehage Oppgave!</h1>
            <div id="flexbox">
                <button onclick="location.href='/'" style="padding:15;font-size:16;display:inline-block;width:200;height:auto">Tilbake</button>
                <p><b>Brukerscenarioet: En bruker søker om barnehageplass og ønsker å få umiddelbar respons på AVSLAG/TILBUD.
                    </b><br>Endre svar.html malen slik at brukeren får en umiddelbar respons. Det må taes hensyn til antall ledige plasser og eventuell fortrinnsrett.</p>
                <p><b>Brukerscenarioet: En administrator ønsker å få oversikt over alle søknadene.
                </b><br>Lag et nytt meny-element "Søknader", som, når brukeren velger den, viser alle søknadene i databasen med relevant status AVSLAG/TILBUD. Du må sjekke for
                        antall ledige plasser og vise frem eventuell fortrinnsrett.</p>
                <p><b>Brukerscenarioet: Adminstrator ønsker å ha tilbakemelding at alle dataene er lagret permanent i databasen (filen kgdata.xlsx)</b>
                    <br>Endre responsen til ruten "commit". Responsen til denne ruten skal liste ut all data fra databasen (filen kgdata.xlsx). Endre commit.html malen.
                </p>
                <p><b>Brukerscenarioet: En bruker ønsker å statistikk av prosentandel barn i barnehagen i 1-2 års alderene for en valgt kommune.</b>
                <br>Lag et nytt meny-element "Statistikk", hvor du viser frem grafikk for utvikling av prosentandel barn i barnehage i 1-2 års alderen for en valgt kommune. Bruk
                koden fra OBLIG 3.</p>
            </div>
        </div>
    </body>
</html>