<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
    </head>
    <body>
        <div id="mnbox">
            <h1>Søknader!</h1>
            <div id="flexbox">
                <p>Det finnes ingen registrerte søknader!</p>
                <br>
                <button onclick="location.href='/'" style="padding:15;font-size:16;display:inline-block;width:200;height:auto">Tilbake</button><br>
            </div>
        </div>
    </body>
</html>