<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/soknad.css') }}?v=1.0">
        <title>Handling Forms</title>
    </head>
    <body id="mnbox">
        <h1>Send sookish! Last number in DB {{ data["tbl_foresatt"].headish }}</h1>
        <form method="post" action="/handlesoknad">
        <table>
            <tr>
                <tr>
                    <td>Navn forelder</td>
                    <td><input type="text" name="name_foresatt"><br></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><input type="text" name="adress"><br></td>
                </tr>
                <tr>
                    <td>Tlf til forelder</td>
                    <td><input type="number" name="tlf"><br></td>
                </tr>
                <tr>
                    <td>Person Nr. til forelder</td>
                    <td><input type="number" name="pnr_f"><br></td>
                </tr>
                <tr>
                    <td>Navn til Barnet</td>
                    <td><input type="text" name="name_kid"><br></td>
                </tr>
                <tr>
                    <td>Person Nr til Barnet</td>
                    <td><input type="number" name="pnr_kid"><br></td>
                </tr>
                <tr>
                    <td>Prioriter Barnehager</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Første Prioritet:</td>
                    <td>
                        <select name="prioritet1">
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Andre Prioritet:</td>
                    <td>
                        <select name="prioritet2">
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tredje Prioritet:</td>
                    <td>
                        <select name="prioritet3">
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Har barnet søsken i barnehagen?</td>
                    <td><input type="checkbox" name="kid_siblings"><br></td>
                </tr>
                <tr>
                    <td>Har barnet fortrinnsrett?</td>
                    <td><input type="checkbox" name="ftr" id="ftr"><br></td>
                </tr>
                <tr id="ftr_txt_tr" style='display:none'>
                    <td>Spesifiser grunnen<br>til fortrinnsrett</td>
                    <td><textarea name="ftr_txt" rows="4" cols="35"></textarea></td>
                </tr>
                <tr>
                    <td>Familiens inntekt?</td>
                    <td><input type="number" name="inntekt"><br></td>
                </tr>
            </table>

            <input type="submit" value="Submit">
        </form>
        <br><br><button onclick='location.href="/"'>Back!</button>

    </body>
    <script src="{{ url_for('static', filename='js/soknad.js') }}"></script>
</html>