<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/soknad.css') }}?v=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=1.0">
        <title>Soknad</title>
    </head>
    <body id="mnbox">
        <h1>Send søknad!</h1>
        <form method="post" action="/handlesoknad">
            <table>
                <tr>
                    <td>Navn forelder</td>
                    <td><input type="text" name="name_foresatt" required><br></td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td><input type="text" name="adress" required><br></td>
                </tr>
                <tr>
                    <td>Tlf til forelder</td>
                    <td><input type="number" name="tlf" required><br></td>
                </tr>
                <tr>
                    <td>Person Nr. til forelder</td>
                    <td><input type="number" name="pnr_f" required><br></td>
                </tr>
                <tr>
                    <td>Navn til Barnet</td>
                    <td><input type="text" name="name_kid" required><br></td>
                </tr>
                <tr>
                    <td>Person Nr til Barnet</td>
                    <td><input type="number" name="pnr_kid" required><br></td>
                </tr>
                <tr>
                    <td>Prioriter Barnehager</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Første Prioritet:</td>
                    <td>
                        <select name="prioritet1" required>
                            <option value="">Velg barnehage</option>
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Andre Prioritet:</td>
                    <td>
                        <select name="prioritet2" required>
                            <option value="">Velg barnehage</option>
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tredje Prioritet:</td>
                    <td>
                        <select name="prioritet3" required>
                            <option value="">Velg barnehage</option>
                            {% for row in data["tbl_barnehager"].rows %}
                                <option value="{{ row["id"] | int }}">{{ row["navn"] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Har barnet søsken i barnehagen?</td>
                    <td><input type="checkbox" name="kid_siblings"><br></td>
                </tr>
                <tr>
                    <td>Har barnet fortrinnsrett?</td>
                    <td><input type="checkbox" name="ftr" id="ftr"><br></td>
                </tr>
                <tr id="ftr_txt_tr" style='display:none'>
                    <td>Spesifiser grunnen<br>til fortrinnsrett</td>
                    <td><textarea name="ftr_txt" style="width: 224px; height: 74px;" rows="4" cols="35"></textarea></td>
                </tr>
                <tr>
                    <td>Familiens inntekt?</td>
                    <td><input type="number" name="inntekt" required><br></td>
                </tr>
            </table>

            <input class='subbit' type="submit" id='buttass' value="Submit" >
        </form>
        <br><br><div id="buttass" style='display:inline-block;border:solid black 2px;' onclick='location.href="/"'><text>Back!</text></div>

    </body>
    <script src="{{ url_for('static', filename='js/soknad.js') }}"></script>
</html>